.root{
		-fx-background-color: linear-gradient(#000080,#663399,#DDA0DD);
		-fx-font-size: 11pt;		
			
		}

.button{
	-fx-background-color: #fff0f5;
	-fx-font: normal bold 11pt 'kenvector future thin' ;
    -fx-text-align: center;
    -fx-background-radius: 4;
}
.label-main{
	-fx-font: italic bold 25pt 'Sheepman W03 Light';
	-fx-text-align: center;
}